name: CI

on:
  push:
  pull_request:
  
jobs:
  build:
    runs-on: ubuntu-latest
  
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        lfs: true
  
    - name: Install .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0
  
    - name: Build & Test Debug
      run: dotnet test src --configuration Debug

    - name: Build & Test Release
      run: dotnet test src --configuration Release